// ==========================================================================
// COLORS
// ==========================================================================//

// Common Colors
$white: #FFF;
$black: #0B0B0B;
$trueblack: #000;

//Custom Colors
$green: #3DB39E;

// Color Usage
$color-primary: $green;
$color-secondary: $green;